version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_clinica
    restart: unless-stopped
    environment:
      POSTGRES_DB: clinica
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d clinica"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: clinica_api
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  postgres_data: